*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background: linear-gradient(145deg, #0088c7, rgb(0, 180, 132));
    border-radius: 18px;
    width: 370px;
    height: 200px;
    padding: 40px 35px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    transition: height 0.5s ease;
}

header {
    margin-bottom: 30px;
}

header h1 {
    color: white;
}

.input-container {
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.input-container input {
    background-color: white;
    border: none;
    border-radius: 25px 0 0 25px;
    font-size: 1.15rem;
    outline: none;
    height: 50px;
    padding-left: 20px;
    flex-grow: 1;
}

.input-container button {
    background-color: white;
    border: none;
    border-radius: 0 50% 50% 0;
    height: 50px;
    width: 50px;
    padding-right: 2px;
    font-size: 1.5rem;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #dff5ff;
}


.error {
    font-size: 1.2rem;
    color: rgb(165, 0, 0);
    text-align: center;
    margin-top: 30px;
}


/************* RESULT CONTAINER *************/
.result-container {
    color: white;
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
}

.result-container .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
}

.icon-container img {
    width: 140px;
}

.result-container .temperature {
    font-size: 2.8rem;
    margin-bottom: 6px;
}

.result-container .city {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.humidity-wind-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-value-container {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6px;
}

.copyright {
    font-size: 0.8rem;
    margin-bottom: 2px;
}

.hidden {
    display: none;
}